// Fonts
$comf: 'Comfortaa', cursive;
$danc: 'Dancing Script', cursive;
$poi: 'Poiret One', cursive;
$redh: 'Red Hat Display', sans-serif;
$sac: 'Sacramento', cursive;
$quick: 'Quicksand', sans-serif;

// color palette
$secundary:#876B91;
$contrast:#EC8C2B;
$main:#49516D;
$white:#E2EBF3;
$blac:#111003;
$contrastTwo:#BFDB95;